{% extends ('base.html.twig') %}

{% block body %}
<div class="container">

<div class="row">
<div class="col-md-6">
    {{ form_start(form) }}
    <div class="form-group">
        <label >email</label>
        {{ form_widget(form.email)}}
    </div>
    <label >password</label>

    {{ form_widget(form.password)}}
    
    <button type="submit" class="btn btn-success mt-3">créer</button>
    </div>
    </div>
</div>
{% endblock %}